@import 'tailwindcss';

@layer base {
  :root {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    color: var(--color-sky-70);
    background-color: var(--color-sky-100);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply m-auto max-w-7xl p-8;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }
}
